/* Space out content a bit */
body {
    background: #000000;
    color: #ffffff;
    font-family: "Source Sans Pro" sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading-text {
    font-weight: 200;
    font-size: 5em;
}

.stock-measure {
    font-weight: 700;
}

.drink-count {
    background-color: #f7f7f9;
    color: #000000;
    border-radius: 3px;
    display: inline-block;
    overflow: hidden;
    min-height: 100px;
    min-width: 100px;
    font-size: 85px;
    font-weight: 700;
    text-align: center;
}

.order-place-order-button {
    background: #ff00ff;
    color: #ffffff;
    margin-top: 15px;
    text-align: center;
}