<div class="row text-center heading-text">
    Bar Stock
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="row" ng-repeat="liquor in stock | filter:'liquor'">
            <span class="col-sm-9">{{liquor.name}}</span><span class="col-sm-3"><span class="stock-quantity stock-available-qty">{{getAvailableQty(liquor)}}</span><span class="stock-measure">{{liquor.measure}}</span></span>
        </div>
    </div>
    <div class="col-sm-3">
        <div ng-repeat="mixer in stock | filter:'mixer'">
            <span class="col-sm-9">{{mixer.name}}</span><span class="col-sm-3"><span class="stock-quantity stock-available-qty">{{getAvailableQty(mixer)}}</span><span class="stock-measure">{{mixer.measure}}</span></span>
        </div>
    </div>
    <div class="col-sm-3">
        <div ng-repeat="juice in stock | filter:'juice'">
            <span class="col-sm-9">{{juice.name}}</span><span class="col-sm-3"><span class="stock-quantity stock-available-qty">{{getAvailableQty(juice)}}</span><span class="stock-measure">{{juice.measure}}</span></span>
        </div>
    </div>
    <div class="col-sm-3">
        <div ng-repeat="garnish in stock | filter:'garnish'">
            <span class="col-sm-9">{{garnish.name}}</span><span class="col-sm-3"><span class="stock-quantity stock-available-qty">{{getAvailableQty(garnish)}}</span></span>
        </div>
    </div>
</div>

<div class="row text-center heading-text">
    Orders
</div>
<div class="row">
    <div class="col-sm-2" ng-repeat="drink in drinks">
        <span class="order-title text-center">{{drink.name}}</span>
		<div class="order-details">
			<div class="row" ng-repeat="ingredient in drink.ingredients">
				<span class="order-ingredient-item"><span class="col-sm-3 stock-quantity">{{ingredient.qty}}<span class="stock-measure">{{ingredient.measure}}</span></span><span class="col-sm-9">{{getIngredientName(ingredient.stockId)}}</span></span>
			</div>
			<img src="images/plus.png" ng-click="increaseDrinkCount($index, drink)" ng-class="{disabled: ingredientsOutOfStock(drink)}">
			<span class="drink-count" ng-bind="drinksOrdered[$index].quantity || '-'"></span>
			<img src="images/minus.png" ng-click="decreaseDrinkCount($index, drink)" ng-class="{disabled: drinksOrdered[$index].quantity === 0}">
		</div>
    </div>
</div>
<div class="row text-center">
    <a class="btn order-place-order-button" href="#/summary">Place Order</a>
</div>