<div class="row text-center heading-text">
    Summary
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4" ng-repeat="drinkOrdered in drinksOrdered">
        <span class="ordered-drink-count" ng-bind="drinkOrdered[$index].quantity || '-'"></span><span>{{drinkOrdered.name}}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <hr>
        <span class="ordered-drink-count" ng-bind="totalDrinksOrdered() || '-'"></span><span>Total</span>
    </div>
</div>
